body{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Arvo', serif;
   
  
    background-color: rgb(247, 238, 238);
    
}

ul {
   
    margin: auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
    

}

    
   /* display: grid;
    grid-template-columns: 50% 50% ;
    justify-content: center;
    */
    
   /* margin: 55px auto; */

.contener {
    display:flex;
    justify-content: space-around;

    
}

.flex1{
    width: 50%;
    background-color: rgb(230, 194, 39);
    
   
   
}

.flex2{
    width: 50%;
    background-color: rgb(245, 219, 107);
    
}

.menu{
    background-color: rgb(153, 152, 152);
    padding: 20px 0px;
}

p.menu{
   
    text-align: center;
    
}

#textecentre{
    text-align: center;
    font-size: 300%;
  
    
}

#soustitre1{
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
    
    
}

#soustitre2{
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}

#flexbox {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 140%;
}

#grid {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 140%;
}

img{
    height: 5%;
    width: 5%;
    margin-left: 50%;
    
    
}