body{
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
    background-color: rgb(247, 238, 238);
    
}
.bg {
    background-color: blue;
 
}

ul {
   
    margin: auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
a, p {
    
    text-decoration: none;
    color: rgb(20, 19, 19);
    font-size: 20px;

}

.contener{
    
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
    column-gap: 10px;
    width: 60%;
    margin: 55px auto;
}
.flex{
    
    height: 355px;
    border: solid 2px grey;
}


.menu{
    background-color: rgb(153, 152, 152);
}

p.menu{
    
    padding: 30px 0px;
}
.body_grid{
    padding: 50px 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 152, 152);
    justify-content: center;
    align-content: center;
    

}
.text_grid {
    position: relative;
    width: auto;
    
    background-color: white;
    padding: 10px;
    margin: 0px 50px;

    
    
}
.text_grid p{
    font-size: 12px;
}
input[type="range"] {
    position: relative;
    margin-left: 1em;
    
}

#grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(4, 70px);
    background-color: white ;
    justify-items: end;
    align-items: center;

    color: teal;
    height: 100%;
    align-self: center;
    border-radius: 5px;

}
form{
    font-size: small;
}

.item {
   
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin: 3px;

}

#item_1{
        
        background-color: violet;
      
}
    

.item:nth-child(1){
   
    background-color: violet;
}

.item:nth-child(2){

    background-color: rgb(198, 130, 238);
}
.item:nth-child(3){
   
    background-color: rgb(130, 132, 238);
}
.item:nth-child(4){
    
    background-color: rgb(130, 207, 238);
}
.item:nth-child(5){
  
    background-color: rgb(130, 238, 220);
}
.item:nth-child(6){

    background-color: rgb(152, 238, 130);
}.item:nth-child(7){
    
    background-color: rgb(238, 236, 130);
}.item:nth-child(8){
    
    background-color: rgb(238, 155, 130);
}
.item:nth-child(9){
   
    background-color: rgb(238, 130, 175);
}
.item:nth-child(10){

    background-color: rgb(155, 238, 130);
}
.item:nth-child(11){

    background-color: rgb(150, 21, 224);
}
.item:nth-child(12){

    background-color: rgb(224, 6, 97);
}
em{
    color: rgb(73, 11, 11);
}
