/* Flexbox (start) */

h1
{
    text-align: center;
    text-decoration: underline;
}

h2
{
    width: 200px;
    background-color: orange;
}

p
{
    text-align: justify-all;
    padding: 10px;
}

em 
{
    background-color: #facba5;
}




.definition
{
    display: flex;
    justify-content: center;
    display: -webkit-flex; /*display: -ms-flexbox;*/
}


.definition article
{
    flex: 1; margin-right: 10px; padding: 15px;
}


.proprieteparents
{
    display: flex;
    justify-content: center;
}


.exp1
{
    /*background-color: #edf39d;*/
}



.valeur
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 20px;

}


/*Flexbox (end)*/






